@include media-breakpoint-up(md) {
  .edit-form-content {
    overflow-y: scroll;
    max-height: calc(100vh - 12rem);
  }

  .quick-nav {
    overflow-y: auto;
    max-height: calc(100vh - 12rem);
  }
}
