version: '4'

services:

  frontend:
    container_name: mela.app.frontend
    restart: always
    build:
      context: .
      dockerfile: apps/frontend/Dockerfile
    depends_on:
      backend:
        condition: service_healthy
    ports:
      - "9000:9000"
    environment:
      - VITE_KEYCLOAK_HOST=$KEYCLOAK_HOST
      - VITE_KEYCLOAK_REALM=$KEYCLOAK_REALM
      - VITE_KEYCLOAK_CLIENT_ID=$KEYCLOAK_CLIENT_ID
    volumes:
      - ./:/app/
      - /app/node_modules
      - /app/generated/prisma
      - /app/dist

  backend:
    container_name: mela.app.backend
    restart: always
    build:
      context: .
      dockerfile: apps/backend/Dockerfile
    environment:
      - DATABASE_APP_URL=$DATABASE_APP_URL
      - KEYCLOAK_HOST=$KEYCLOAK_HOST
      - KEYCLOAK_REALM=$KEYCLOAK_REALM
      - LOG_DIR=/tmp/logs
    ports:
      - "127.0.0.1:3000:3000"
    depends_on:
      database_app:
        condition: service_healthy
        restart: true
    volumes:
      - ./:/app/
      - /app/node_modules
      - /app/generated/prisma
      - /app/dist
      - ./var/logs/backend:/tmp/logs

  caddy:
    build:
      context: .
      dockerfile: $PWD/docker/prod/Dockerfile
      target: frontend
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./docker/prod/CaddyFile:/etc/caddy/Caddyfile
      - /app/node_modules

  database_app:
    container_name: mela.data.app
    image: postgres:17
    restart: always
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: "256M"
    healthcheck:
      test:
        - CMD
        - pg_isready
        - --username=$DATABASE_APP_USERNAME
        - --dbname=$DATABASE_APP_DBNAME
      retries: 3
    ports:
      - "127.0.0.1:${DATABASE_APP_EXTERNAL_TCP_PORT}:${DATABASE_APP_INTERNAL_TCP_PORT}"
    volumes:
      - $STORE_DIR/data/app:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: $DATABASE_APP_USERNAME
      POSTGRES_PASSWORD: $DATABASE_APP_PASSWORD
      POSTGRES_DB: $DATABASE_APP_DBNAME
